.wrapper {
    width: 340px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #383838;
    background-image: linear-gradient(315deg, #383838 0%, #000000 74%);
}